.input-field{float:left;clear:left;display:block;width:100%;}
button.btn{display:none !important;}
.logo img{width:100px;display:block;float:left;}
h1{font-size:20px;}
.red-text{color:#ff0000;}

#length{padding:1.333rem 0;display:block;}